[submodule "software/submodules/SierraLobo_CircuitPython_IAM20380"]
	path = software/submodules/SierraLobo_CircuitPython_IAM20380
	url = https://github.com/Sierra-Lobo/SierraLobo_CircuitPython_IAM20380
[submodule "software/submodules/SierraLobo_CircuitPython_MC3419"]
	path = software/submodules/SierraLobo_CircuitPython_MC3419
	url = https://github.com/Sierra-Lobo/SierraLobo_CircuitPython_MC3419
[submodule "software/submodules/Adafruit_CircuitPython_MMC56x3"]
	path = software/submodules/Adafruit_CircuitPython_MMC56x3
	url = https://github.com/Sierra-Lobo/Adafruit_CircuitPython_MMC56x3
